<ion-view view-title="Preferences" class="title-view">
    <ion-content class="overview-color">
        <div class="common-row">
          <div class="col-5"></div>
          <h3 class="col-90" style="color:white;">Categories</h1>
            <div class="col-5"></div>
        </div>
        <div class="common-row">
          <div class="col-5"></div>
          <div class="col-30 button searchButton btn-text" ng-click="create_account(account_name_value)">Create</div>
          <div class="col-30 button searchButton btn-text">Delete</div>
          <div class="col-30 button searchButton btn-text">Edit</div>
          <div class="col-5"></div>
        </div>
        <div class="common-row" style="height:18px;"></div>
        <div class="common-row">
          <div class="col-5"></div>
          <input class="col-90" type="text" ng-model="account_name_value">
          <div class="col-5"></div>
        </div>
    </ion-content>
</ion-view>
